/microkernel-main/Microkernel-rabbit-plugin/target/
/microkernel-main/Microkernel-common/target/
/microkernel-main/Microkernel-core/target/
/microkernel-main/Microkernel-mexico-plugin/target/
/microkernel-main/Microkernel-colombia-plugin/target/
/microkernel-main/Microkernel-mexico-plugin - copia/target/
/microkernel-main/Microkernel-brasil-plugin/target/
